@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Merriweather:wght@700&family=Sintony:wght@400;700&display=swap');

*{
    margin: 0;

    --blue: #1C5687;
    --darkBlue: #18405A;
    --opaqueBlue: rgba(28, 86, 135, 0.9);
    --grey: #DEDEDE;
    --darkGrey: #333333;
}

/* TEXT */
h1{
    font-family: 'Merriweather', serif;
    color: var(--blue);
    font-size: 30px;
}
h2{
    font-family: 'Merriweather', serif;
    color: var(--blue);
    font-size: 34px;  
}
h3{
    font-family: 'Merriweather', serif;
    color: var(--blue);
    font-size: 22px; 
}
h4{
    font-family: 'Sintony', sans-serif;
    color: var(--blue);
    font-size: 22px;
}
p{
    font-family: 'Sintony', sans-serif;
    color: var(--darkGrey);
    font-size: 16px;
    font-weight: normal;
}

/* END TEXT */

button{
    background-color: var(--darkBlue);
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px; 
    border-style: solid;
    border-color: transparent;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #F7F7F7;
    border-width: 1px; 
    border-style: solid;
    border-color: #7D9299;
    color: var(--blue);
}

/* HELPER */
.padding{
    padding-left: 70px;
    padding-right: 70px;
}

.blue{
    background-color: var(--blue);
}

.right{
    float: right;
}

/* END HELPER */

#navbar{
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

#navBtns{
    display: inline-flex;
    padding-left: 70px;
}

.navBtn{
    padding: 10px;
    cursor: pointer;
}
.navBtn:hover{
    background-color: var(--darkBlue);
}

#navLinks{
    height:5vw;
    margin-bottom: 20px;
}

#rightNav{
    display: inline-flex;
    justify-content: flex-end;
    float: right;
    height: 100%;
}

#header{
    float: left;
    width: 70%;
}

#logo{
    float: left;
    margin-right: 20px;
}

.navIcon{
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}

.navIcon img{
    position: relative;
    top: 0px;
    transition: top ease 0.5s;
}
.navIcon img:hover{
    top: -5px; 
}

.icon{
    width: 40px;
    height: 40px;
    margin: auto;
}

#greyBtn{
    background-color: var(--grey);
    color:var(--blue);
    display: inline-flex;
    padding: 10px;
}

#arrow1{
    transform: rotate(180deg); 
    height: 50%;
    fill: var(--darkBlue);
}

#search{
    background-color: var(--darkBlue);
    color: white;
    padding: 10px;
}

/* END NAV AND HEADER STYLES */

#slideshow{
    width:100%;
    height: 30vw;
    display: inline-block;
}

.slideImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: 0 0;
}

#slide1{
    display: inline-block;
    position: relative;
    width: 60%;
    height: 100%;
}
#slide2{
    position: relative;
    width: 40%;
    height: 100%;
    float: right;
}

#overlay{
    width: 100%;
    height: 100%;
    float: right;
    background-color: var(--opaqueBlue);
    position: absolute;
    top: 0;
    left: 0;

}
#overlayContent{
    margin-top: 50px;
    margin-left: 20px;
}

#slideControls{
    display: inline-flex;
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 100%; */
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--opaqueBlue);
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    border:none;
    padding: 5px;
    cursor: pointer;
}
.controls svg{
    width: 70%;
    height: 70%;
}
/* END SLIDESHOW STYLES */

#currentNews{
    padding-top: 10px;
    padding-bottom: 10px;
}

#newsItems{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.newsItem{
    width: 22%;
}
.newsItem img{
    width: 100%;
}

/* END CURRENT NEWS STYLES */

#additionalInfo{
    display: flex;
    justify-content: space-between;
}

.contentSqaure{
    display: inline-block;
    width: 40%;
    background-color: white;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* END ADDITIONAL INFO STYLES */

footer{
    text-align: center;
    display: inline-block;
    width: 100%;
}

#footerLine{
    position: relative;
    height: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--darkBlue);
    width: 100%;
}
#footerBtns{
    position: absolute;
    left: 50%;
    top: -300%;
}

#socials{
    padding-left: 35%;
    padding-right: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
