@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Merriweather:wght@700&family=Sintony:wght@400;700&display=swap');

*{
    margin: 0;

    --blue: #1C5687;
    --darkBlue: #18405A;
    --opaqueBlue: rgba(28, 86, 135, 0.9);
    --grey: #DEDEDE;
    --darkGrey: #333333;
}

/* TEXT */
h1{
    font-family: 'Merriweather', serif;
    color: var(--blue);
    font-size: 1.8rem;
}
h2{
    font-family: 'Merriweather', serif;
    color: var(--blue);
    font-size: 2rem;  
}
h3{
    font-family: 'Merriweather', serif;
    color: var(--blue);
    font-size: 1.3rem; 
    margin-bottom: 1.5rem;
}
h4{
    font-family: 'Sintony', sans-serif;
    color: var(--blue);
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
h4:hover{
    border-bottom: 2px solid var(--blue);
}
p{
    font-family: 'Sintony', sans-serif;
    color: var(--darkGrey);
    font-size: 1rem;
    font-weight: normal;
}
.serif{
    font-family: 'Merriweather', serif;
}
.blueLink{
    font-family: 'Sintony', sans-serif;
    color: var(--blue);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}
.blueLink:hover{
    color: var(--darkBlue);
    border-bottom: 2px solid var(--darkBlue);
}

/* END TEXT */

button{
    background-color: var(--darkBlue);
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px; 
    border-style: solid;
    border-color: transparent;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #F7F7F7;
    border-width: 1px; 
    border-style: solid;
    border-color: #7D9299;
    color: var(--blue);
}

/* HELPER */
.padding{
    padding-left: 6vw;
    padding-right: 6vw;
}
@media screen  and (max-width: 639px){
    .padding{
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

.blue{
    background-color: var(--blue);
}
.white{
    color: white;
}

.right{
    float: right;
}
.topMargin{
    margin-top: 1rem;
}
.botMargin{
    margin-bottom: 1rem;
}
/* END HELPER */

#navbar{
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

#navBtns{
    display: inline-flex;
    padding-left: 6vw;
    align-items: stretch;
    height: 100%;
}

.navBtn{
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
.navBtn:hover{
    background-color: var(--darkBlue);
}

#navLinks{
    margin-bottom: 1rem;
    height: 3.5rem;
}
@media screen  and (max-width: 1023px){
    #navLinks{
        display: none;
    }
    #navIcons{
        display: none;
    }
}

.navDrop{
    position: relative;
    display: inherit;
}
.navDropLinks{
    display: none;
    flex-direction: column;
    width: 15em;
    height: auto;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px #00000075;
    z-index: 1;
    top: 100%;
    padding: 1em;
}
.navDrop:hover .navDropLinks{
    display: flex;
}

#rightNav{
    display: inline-flex;
    justify-content: flex-end;
    float: right;
    height: 100%;
}

#navDropSearch{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px #00000075;
    z-index: 1;
    top: 100%;
    padding: 1em;
}
/* .navDrop:hover #navDropSearch{
    display: flex;
} */

#navDropSearch img:hover{
    cursor: pointer;
}
input{
    margin-right: 1rem;
    background-color: #F7F7F7;
    border: 1px solid var(--darkGrey);
    border-radius: 4px;
    font-family: 'Sintony', sans-serif;
    font-size: 1rem;
    padding: 0.75rem;
    width: 15em;
}

#header{
    float: left;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
@media screen  and (max-width: 1023px){
    #header{
        float: none;
        justify-content: center;
    }
}
@media screen and (max-width: 639px){
    #header{
        flex-direction: column;
        text-align: center;
        row-gap: 1em;
    }
}

#logo{
    float: left;
    margin-right: 1rem;
}

.navIcon{
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;
}

.navIcon img{
    position: relative;
    top: 0px;
    transition: top ease 0.5s;
}
.navIcon img:hover{
    top: -5px; 
}

.icon{
    width: 40px;
    height: 40px;
    margin: auto;
}

#greyBtn{
    background-color: var(--grey);
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
#greyBtn p{
    color:var(--darkBlue); 
    font-weight:bold;
    text-transform: uppercase;
}
#greyBtn:hover{
    background-color: var(--darkBlue);
}
#greyBtn:hover p{
    color: white;
}
#greyBtn svg{
    transition: all 0.3s ease;
}
#greyBtn:hover svg{
    fill: white;
    transform: rotate(270deg);
}

#arrow1{
    transform: rotate(180deg); 
    height: 1rem;
    fill: var(--darkBlue);
    margin-right: 0.5rem;
}

#searchBtn{
    background-color: var(--darkBlue);
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* END NAV AND HEADER STYLES */

#slideshow{
    width:100%;
    height: 40vw;
    display: inline-block;
}

.slideImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: 0 0;
}

#slide1{
    display: inline-block;
    position: relative;
    width: 60%;
    height: 100%;
}
#slide2{
    position: relative;
    width: 40%;
    height: 100%;
    float: right;
}

#overlay{
    width: 100%;
    height: 100%;
    background-color: var(--opaqueBlue);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
#overlayContent{
    width: 75%;
    height: auto;
}

#slideControls{
    display: inline-flex;
    position: absolute;
    bottom: 0.75rem;
    right: 0.55rem;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--opaqueBlue);
    margin-right: 0.3rem;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px; 
    border-style: solid;
    border-color: transparent;
    padding: 5px;
    cursor: pointer;
}
.controls:hover{
    background-color: #F7F7F7;
    border-width: 1px; 
    border-style: solid;
    border-color: #7D9299;
}
.controls svg{
    width: 70%;
    height: 70%;
    fill:white;
}
.controls:hover svg{
    fill:var(--blue);
}

#overlayMobile{
    display: none;
}

@media screen and (max-width: 1023px){
    #slideshow{
        height: auto;
    }
    #slide1{
        width: 100%;
    }
    #slide2{
        display: none;    
    }
    #overlayMobile{
        display: block;
        background-color: var(--blue);
        padding: 1em 3em;
    }
}
@media screen and (max-width: 639px){
    #overlayMobile{
        padding: 1em 0;
    }
    #overlayContent {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    #overlayContent button{
        margin: auto;
        margin-top: 1em
    }
}
/* END SLIDESHOW STYLES */

#currentNews{
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

#newsItems{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.newsItem{
    width: 22%;
    overflow: hidden;
}
.imgContain{
    width: 100%;
    height: 10em;
    overflow: hidden;
}
.newsItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    
}

.newsItem:hover {
    cursor: pointer;   
}
.newsItem:hover img{
    transform: scale(1.2);   
}
.newsItem:hover h4{
    border-bottom: 2px solid var(--blue);  
}

@media screen  and (max-width: 1023px){
    #newsItems{
        flex-wrap: wrap;
        row-gap: 2em;
    }
    .newsItem{
        width:45%;
    }
}
@media screen  and (max-width: 639px){
    .newsItem{
        width: 100%;
    }
    #sectionHead h2, button{
        display: block !important;
        float: none !important;
    }
    h2{
        margin-bottom: 0.5em;
    }
}

/* END CURRENT NEWS STYLES */

#additionalInfo{
    display: flex;
    justify-content: space-between;
}

.contentSqaure{
    display: inline-block;
    width: 42%;
    background-color: white;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr{
    border:none;
    background-color: var(--darkGrey);
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bottomBorder{
    display: block;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.bottomBorder:hover{
    border-bottom: 4px solid var(--blue);
}

.blueTxt{
    font-family: 'Sintony', sans-serif;
    color: var(--blue);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

@media screen  and (max-width: 1023px){
    #additionalInfo{
        flex-direction: column;
        padding-bottom: 2em;
    }
    .contentSqaure{
        width: auto;
        margin-bottom: 0;
    }
}
@media screen  and (max-width: 639px){
    #additionalInfo{
        background-color: white;
    }
    .contentSqaure{
        margin: auto;
        margin-top: 3em;
        padding: 0;
    }
}

/* END ADDITIONAL INFO STYLES */

footer{
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

#footerLine{
    position: relative;
    height: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--darkBlue);
    width: 100%;
    display: flex;
    justify-content: center;
}

#footerBtns{
    position: absolute;
    top: -2000%;
    width: 25%;
    display: flex;
    justify-content: space-between;
}
#toTop svg{
    transform: rotate(90deg);
    margin-right: 0.5em;
    fill: white;
}
#toTop:hover svg{
    fill: var(--blue);
}

#contact{
    line-height: 2;
} 
#contact .tablet, .mobile{
    display: none;
    text-align: center;
}

#socials{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#socialIcons{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#socialIcons img{
    cursor: pointer;
    position: relative;
    top: 0px;
    transition: top ease 0.5s;
}
#socialIcons img:hover{
    top: -5px; 
}
@media screen  and (max-width: 1023px){
    #contact .tablet{
        display: block;
    }
    #contact .desk, .mobile{
        display: none;
    }
    #footerBtns{
        width: 40%;
    }
}
@media screen  and (max-width: 639px){
    footer{
        border-top: 6px solid var(--darkBlue);
        padding-top: 2em;
        margin-top: 0;
    }
    #contact .mobile{
        display: block;
        line-height: 1.5;
    }
    #contact .desk, .tablet{
        display: none !important;
    }
    #siteLinks .mobile, .blueLink{
        display: block;
    }
    #siteLinks .desk{
        display: none;
    }
    #socialIcons{
        width: 60%;
    }
}

/* MOBILE STYLES */
/* TABLET */

#mobileNavbar{
    display: flex;
    justify-content: space-between;
}

#hamburger{
    display: flex;
    align-items: center;
    padding-left: 6vw;
}

#mobileDropLinks{
    background-color: var(--blue);
}
@media screen  and (max-width: 1023px){
    #navBtns{
        display: block;
        padding-left: 0;
    }
    .navBtn{
        padding-left: 6vw;
    }
    .navDropLinks{
        display: flex;
        width: 100%;
        position: relative;
        box-shadow: none;
    }
}